version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: familiez-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: humans
      MYSQL_USER: HumansService
      MYSQL_PASSWORD: XHHxECL54EjvhhPSBLMU
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

volumes:
  mysql_data:
